@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <form method="post" action="Rabbit/Send">
        <input type="text" name="RabbitText" />
        <input type="submit" value="Отправить" />
    </form>
</div>
